{% extends "accounts_base.html" %}
{% load static %}
{% block css %}
<style>
body {
    padding: 90px 0 0 0;
}
.vertical-form {
    margin: 0 auto;
    width: 325px;
}
legend {
    font-size: 26px;
    text-align: center;
}
.form-control {
    border-radius: 3px;
    box-shadow: inherit;
    height: 53px;
    font-size: 18px;
    color: #565656;
    margin: 0 auto 18px auto;
    transition: all 0.2s ease-in-out;
}
button.btn-primary {
    border-color: #3686bb;
    background-color: #3686bb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 53px;
    margin: 0 auto 25px auto;
}
button.btn-primary:hover {
    background-color: #2b6a93;
}

p.text {
    font-size: 16px;
    text-align: center;
}
p.text > a.link {
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
}
@media(max-width: 550px) {
    .vertical-form {
        width: 100%;
    }
}
</style>
<link rel="stylesheet" href="{% static "bootstrap-social/bootstrap-social.css" %}">
<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">

{% endblock css %}
{% block header %}{% endblock header %}
{% block container %}
<form action="" class="vertical-form" method="post">
    {% csrf_token %}
    <legend>เข้าสู่ระบบ</legend>
    <input type="text" name="username" class="form-control" placeholder="Username" size="30" value=""/>
    <input type="password" name="password" class="form-control" placeholder="Password" size="30" value=""/>
    <button class="btn btn-primary">Sign In</button>
    {% if 'facebook' in USE_SOCIAL_AUTH %}
    <p class="text">
        <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
        </a>
    </p>
    {% endif %}
    {% comment %}
    <p class="text">
        ยังไม่มีบัญชีใช้งาน?
        <a href="{% url 'accounts.register' %}">สมัครสมาชิก</a>
    </p>
    {% endcomment %}
</form>
{% endblock container %}